* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #2196f3;
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* ===== LOGIN ===== */
.login-section {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
}

.login-card {
  background: white;
  width: 360px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #ff7a3d;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #ff6420;
}

.login-card p {
  margin-top: 15px;
  font-size: 14px;
}

.login-card a {
  color: #000000;
  text-decoration: #000000;
}

.login-card button {
  background-color: #2196f3;
}

.login-card button:hover {
  background-color: #1976d2;
}

.btn-login {
  color: #ccc;
}

.btn-Register {
  color: #1976d2;
}
